body {
    margin: 0;
    height: 100vh;
}

#content {
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    background-image: url('../images/shopping_cart_woods.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#error-message {
    background-color: white;
    padding: 1%;
    width: 100%;
    border-radius: 10px;
}
