*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgb(48, 48, 48)
}

#wrapper{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 90%;
}


#logo{
    border-radius: 0.5rem;
    margin: 20px;
    width: 80%;
}

p{
    margin: 5px;
}
#info_form, #signin_form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

input{
    margin: 5px;
    border-radius: 0.5rem;
    border-width: 0.01px;
    height: 25px;
    width: 100%;
    padding: 3px;
}

button{
    width: 100%;
    background-color: rgb(116, 173, 122);
    color: white;
    border-width: 0px;
    border-radius: 0.5rem;
    height: 25px;
}

#logo_icon{
    width: 30%;
}

#logo_text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 2rem;
    line-height: 110%;
    margin-top: 5px;
    color: rgb(61, 108, 54);
}


