*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

}

#wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 90%;
}


#logo{
    background-color: rgb(236, 255, 238);
    border-radius: 0.5rem;
    margin: 20px;
    width: 80%;
}

#info_form, #signin_form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

input{
    margin: 7px;
    border-radius: 0.5rem;
    border-width: 0.01px;
    height: 25px;
    width: 100%;
}

button{
    width: 100%;
    background-color: rgb(116, 173, 122);
    color: white;
    border-width: 0px;
    border-radius: 0.5rem;
    height: 25px;
}


