*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(48, 48, 48);
}

#backtitle {
    display: flex;

}

#product {
    display: flex;
    flex-flow: wrap column;
}


.img_cont {
    width: 100%;
    border-radius: 10px;
}


article {
    padding-top: 10px;
}

.description {
    display: flex;
}

.description_text{
    display: flex;
    width: 70%;
    flex-flow: wrap column;
}

i {
    vertical-align: middle;
}


.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 15px;
    width: 30%;
}

.addtolist {

    border: none;
    border-radius: 10px;
    height: 20%;
    margin: 1px;
}


img {
    width: 100%;
    border-radius: 15px;
}

.links {
    text-decoration: none;

}
