*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(48, 48, 48)
}

body{
    position: relative;
}

main{
    position: absolute;
    /* top: 45px; */
    width: 90%;
    left: 5%;
    
}

#search_text{
    width: 75%;
}

hr{
    margin: 0px;
}
.items{
    display: flex;
}

.item_img{
    width: 100px;
    margin: 10px 10px 10px 0px;
}

.item_info{
    margin: 10px;
}

/* #filter_form{
    padding: 20px;
} */

#results_display a{
    text-decoration: none;
}

.padding-footer{
    height: 50px;
}

#search_submit, #apply_filter{
    background-color: rgb(116, 173, 122);
    color: white;
    border: none;
}

input{
    border-radius: 0.5rem;
    border: none;

}

#toggle_filter, #reset{
    border-radius: 0.5rem;
    background: white;
    border: none;
    margin: 5px 0px 10px 0px;
}

.pic{
    width: 100%;
}

#result_text{
    margin-top: 20px;
}

#item_price{
    font-size: larger;
}
