/* 

#logo{
    border-radius: 0.5rem;
    margin: 20px;
    width: 80%;
}

p{
    margin: 5px;
}

#logo_icon{
    width: 30%;
}

#logo_text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 2rem;
    line-height: 110%;
    margin-top: 5px;
    color: rgb(61, 108, 54);
}
 */

*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 13px; */
    color: rgb(48, 48, 48)
}

#search_input{
    width: 70%;
    border-radius: 0.5rem;
    border: 0.01px solid rgb(48, 48, 48);
    padding-left: 10px;
}

#search_button{
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(116, 173, 122);
    color: white;
}

main{
    /* padding: 20px;
    position: absolute;
    top: 45px; */
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
}

main div{
    width: 100%;
}

/* body{
    position: relative;
    background-color: rgb(241, 241, 241)
} */

button{
    border: none;
    background-color: transparent;
    color: rgb(48, 48, 48);
}

#watchlist_direct, #add_items{
    border: 0.01px solid rgb(48, 48, 48);
    border-radius: 0.5rem;
    width: 50%;
    margin: 10px 10px 0px 0px;
}

#buttons{
    margin-top: 30px;
}

#icons{
    display: flex;
    flex-direction:column;
    margin: 30px 30px 0px 30px;
}

#icons div{
    display: flex;
    /* flex-wrap: wrap; */
    height: 100px;
}

.icon{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.image{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    /* box-shadow: 2px 2px 2px 2px rgb(221, 221, 221); */
    
}

img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgb(221, 221, 221);
}

/* #error_message{
    text-align: left;
    padding-left: 15px;
} */