/* Google Icons */
/* Important notes: 
i is globally applied

body is globally applied so that the footers and navbar don't cover content.



*/
* {
    box-sizing: border-box;
}

.profile {
    display: flex;
    justify-content: end;
}

/* .material-icons.md-18 {
    font-size: 11px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 30px;
}

.material-icons.md-48 {
    font-size: 35px;
} */

i {
    color: rgb(129, 129, 129);
}

body {
    padding-top: 100px;
    margin-bottom: 100px;
    clear: both;
 }

/* ----------- */
/* Footer */
/* ----------- */

/* Footer spacing */
.flexfooter {
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
}

/* Bottom icons text centering if bottom text to be implemented */
.icon {
    display: flex;
    padding-top: 3px;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    size: small;
    text-align: center;
    margin: auto;
}

.navbar .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#logo {
    width: 30%;
    align-self: center;
}

.navbar, .footer{
    box-shadow: 2px 2px 3px 2px rgb(209, 209, 209);
    padding: 10px;
    background-color: white;
}

.footer{
    padding: 5px;
}

header {
    height: 15%;
}

/* Dropdown Button */
.dropbtn {
    /* background-color: #3498DB; */
    /* color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  /* .dropbtn:hover, .dropbtn:focus { */
    /* background-color: #2980B9; */
  /* } */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /* float: right; */
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    text-align: end;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}