/* Google Icons */
/* Important notes: 
i is globally applied

body is globally applied so that the footers and navbar don't cover content.



*/
* {
    box-sizing: border-box;
}

.profile {
    display: flex;
    justify-content: end;
}

/* .material-icons.md-18 {
    font-size: 11px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 30px;
}

.material-icons.md-48 {
    font-size: 35px;
} */

i {
    color: rgb(129, 129, 129);
}

body {
    padding-top: 65px;
    margin-bottom: 100px;
    clear: both;
 }

.flexfooter {
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
}

.icon {
    display: flex;
    padding-top: 3px;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    size: small;
    text-align: center;
    margin: auto;
    color: rgb(129, 129, 129);
}

.navbar .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#logo {
    width: 90px;
    align-self: center;
    position: relative;
    border-radius:0em !important;
    box-shadow: none;
}

.navbar, .footer{
    box-shadow: 2px 2px 3px 2px rgb(209, 209, 209);
    padding: 10px 0px 10px 0px;
    background-color: white;
}

.footer{
    padding: 5px;
}

header {
    height: 15%;
}

body{
    position: relative;
    background-color: rgb(252, 247, 236);
}

/* The following CSS was taken from the side navigation tutorial on W3Schools (linked in README) */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(116, 173, 122);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: floralwhite;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

#hamburger-menu{
    margin: 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#sign-in-link {
    text-decoration: none;
    color: black;
    background-color:white;
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
    border-radius: 8px;
}