*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

main {
    display: grid;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
}

#update_item:hover {
    background-color: blue;
    color: white;
}

#update_item:active {
    background-color: green;
}

#item_info {
    color: black !important;
}

#item_updated_successfully {
    color: green !important;
}

div {
    color: red;
}